<h1>{{this.course_section}}</h1><br>
<em>Professor:</em> {{instructor}}<br>
<em>Location:</em> {{location}}<br>
<em>Meeting Pattern:</em> {{days}} {{time}}

<h2>View in Schedule:</h2>

{{#if schedules}}
<form id="add-to-schedule" action="/course/{{_id}}" method="POST">
    <select id="schedule-select" name="scheduleSelect">
        {{#each schedules}}
        {{#if selected}}
        <option value="{{name}}" selected>{{name}}</option>
        {{else}}
        <option value="{{name}}">{{name}}</option>
        {{/if}}
        {{/each}}
    </select><br><br>

    <input id="submit-add-to-schedule" type="submit" value="Add to Schedule">

</form>
{{else}}
<h3>No schedules found</h3>
{{/if}}

{{#each schedules}}
<div class="potential-schedule" name="{{name}}" hidden>
    {{#if conflicting}}
    <p class="warning">Warning: conflicting times</p>
    {{/if}}
    {{#if this.alreadyContains}}
    <form class="already-added" id="remove-from-schedule" action="/course/remove" method="POST">
        <input type="text" name="course" value="{{@root.course_section}}" hidden>
        <input type="text" name="schedule" value="{{name}}" hidden>
        <input type="submit" value="Remove From Schedule">
    </form>
    {{/if}}
    <h1>{{name}}</h1>

    {{> schedule}}

</div>
{{/each}}

