<h1>{{this.course_section}}</h1><br>
<em>Professor:</em> {{#if instructor_id}}<a href="/faculty/member/{{instructor_id}}">{{instructor}}</a>{{else}}{{instructor}}{{/if}}<br>
<em>Location:</em> {{location}}<br>
<em>Meeting Pattern:</em> {{days}} {{time}}

<h2>Rating: {{rating}}</h2>
{{#if comments}}
<h2>Comments:</h2>

<ul style="list-style-type: none; padding: 0;">
    {{#each comments as |comment|}}
    <li>
        <div class="comment-box">
            <h3 class="comment-title">{{comment.title}}</h3>
            <p class="comment-rating">Posted by <a href="/profile/{{comment.userId}}">{{comment.userId}}</a> on <em>{{comment.date}}</em></p>
            <p class="comment-content">{{comment.content}}</p>

            {{#ifEquals @root.userId comment.userId}}
            <form action="/course/{{@root._id}}/{{comment._id}}/comment/delete" method="POST">
                <button type="submit">DELETE</button>
            </form>
            {{/ifEquals}}
        </div>
    </li>
    {{/each}}
</ul>
{{/if}}


<form action="/course/{{@root._id}}/comment" method="GET" id="faculty-comment">
    <input type="submit" value="Comment">
</form>


<h2>View in Schedule:</h2>

{{#if schedules}}
<form id="add-to-schedule" action="/course/add/{{_id}}" method="POST">
    <select id="schedule-select" name="scheduleSelect">
        {{#each schedules}}
        {{#if selected}}
        <option value="{{name}}" selected>{{name}}</option>
        {{else}}
        <option value="{{name}}">{{name}}</option>
        {{/if}}
        {{/each}}
    </select><br><br>

    <input id="submit-add-to-schedule" type="submit" value="Add to Schedule">

</form>
{{else}}
<h3>No schedules found</h3>
{{/if}}

{{#each schedules}}
<div class="potential-schedule" name="{{name}}" hidden>
    {{#if conflicting}}
    <p class="warning">Warning: conflicting times</p>
    {{/if}}
    {{#if this.alreadyContains}}
    <form class="already-added" id="remove-from-schedule" action="/course/remove/{{@root._id}}" method="POST">
        <input type="text" name="scheduleSelect" value="{{name}}" hidden>
        <input type="submit" value="Remove From Schedule">
    </form>
    {{/if}}
    <h1>{{name}}</h1>

    {{> schedule}}

</div>
{{/each}}

