<h1>{{name}}</h1>
{{#if faculty_title}}
<em>{{faculty_title}}</em><br>
{{/if}}
{{#if office}}
<em>{{office}}</em>
{{/if}}

<h2>Rating: {{rating}}</h2>
    {{!-- <p>IDDDD {{id}}</p> --}}
{{#if courses}}
<h2>Course Sections:</h2>
<ul>
    {{#each courses}}
    <li class="course-item">
        <strong><a href="/course/view/{{_id}}">{{course_section}}</a></strong><br>
        {{#if time}}
        <em>Time: </em>{{time}}<br>
        {{/if}}
        {{#if days}}
        <em>Days: </em>{{days}}<br>
        {{/if}}
    </li>
    {{/each}}
</ul>
{{/if}}

{{#if comments}}
<h2>Comments:</h2>
<ul style="list-style-type: none; padding: 0;">
    {{#each comments as |comment|}}
    <li>
        <div class="comment-box">
            <h3 class="comment-title">{{comment.title}}</h3>
            <p class="comment-rating">Posted by <a href="/profile/{{comment.userId}}">{{comment.userId}}</a> on <em>{{comment.date}}</em></p>
            <p class="comment-content">{{comment.content}}</p>

            {{#is_user comment.userId ../curr_user}}
            <form action="/faculty/member/{{@root.id}}/comment/{{comment._id}}/delete" method="POST">
                <button type="submit">DELETE</button>
            </form>
            {{/is_user}}
        </div>
    </li>
    {{/each}}
</ul>
{{/if}}

<form action="/faculty/member/{{id}}/comment" method="GET" id="faculty-comment">
    <input type="submit" value="Comment">
</form>