<h1>Search Results</h1>

  {{#if courses.length}}
    <ul class="course-list">
      {{#each courses}}
        <li class="course-item">
          <strong><a href="/course/view/{{_id}}">{{course_section}}</a></strong><br>
          <em>Professor: </em>{{#if instructor_id}}<a href="/faculty/member/{{instructor_id}}">{{instructor}}</a>{{else}}{{instructor}}{{/if}}<br>
          <em>Time:</em> {{time}} <br>
          <em>Days:</em> {{days}}<br>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No courses found matching your criteria.</p>
  {{/if}}

  <a href="/search">← Back to Search</a>
